<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="appversion" version="0.1.0">
    <name>Cordova Android Share</name>
    <author>Alexis Reverte (http://www.matsiya.com/)</author>
    <description>Phonegap/Cordova Plugin that allow social sharing of android.</description>
    <keywords>cordova, phonegap, social, facebook, twitter</keywords>
    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>
    <js-module src="www/socialShare.js" name="SocialShare">
        <clobbers target="socialshare" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <source-file src="src/android/com/phonegap/plugins/socialshare/SocialShare.java" target-dir="src/com/phonegap/plugins/socialshare" />

       <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SocialShare">
                <param name="android-package" value="com.phonegap.plugins.socialshare.SocialShare" />
            </feature>
        </config-file>
    </platform>
</plugin>